<!-- Topbar Start -->
<div class="navbar-custom">
  <ul class="list-unstyled topbar-right-menu float-right mb-0">

<!--
    <li class="dropdown notification-list">
      <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
        <i class="dripicons-bell noti-icon"></i>
        <span class="noti-icon-badge"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

        &lt;!&ndash; item&ndash;&gt;
        <div class="dropdown-item noti-title">
          <h5 class="m-0">

            <span class="float-right">
              <a href="javascript: void(0);" class="text-dark">
                <small>Clear All</small>
              </a>
            </span>Notification
          </h5>
        </div>

        <div style="max-height: 230px;" data-simplebar="init">
          <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
              <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
              <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                  <div class="simplebar-content" style="padding: 0px;">
          &lt;!&ndash; item&ndash;&gt;
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <div class="notify-icon bg-primary">
              <i class="mdi mdi-comment-account-outline"></i>
            </div>
            <p class="notify-details">Caleb Flakelar commented on Admin
              <small class="text-muted">1 min ago</small>
            </p>
          </a>

          &lt;!&ndash; item&ndash;&gt;
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <div class="notify-icon bg-info">
              <i class="mdi mdi-account-plus"></i>
            </div>
            <p class="notify-details">New user registered.
              <small class="text-muted">5 hours ago</small>
            </p>
          </a>

          &lt;!&ndash; item&ndash;&gt;
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <div class="notify-icon">
              <img src="assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt=""> </div>
            <p class="notify-details">Cristina Pride</p>
            <p class="text-muted mb-0 user-msg">
              <small>Hi, How are you? What about our next meeting</small>
            </p>
          </a>

          &lt;!&ndash; item&ndash;&gt;
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <div class="notify-icon bg-primary">
              <i class="mdi mdi-comment-account-outline"></i>
            </div>
            <p class="notify-details">Caleb Flakelar commented on Admin
              <small class="text-muted">4 days ago</small>
            </p>
          </a>

          &lt;!&ndash; item&ndash;&gt;
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <div class="notify-icon">
              <img src="assets/images/users/avatar-4.jpg" class="img-fluid rounded-circle" alt=""> </div>
            <p class="notify-details">Karen Robinson</p>
            <p class="text-muted mb-0 user-msg">
              <small>Wow ! this admin looks good and awesome design</small>
            </p>
          </a>

          &lt;!&ndash; item&ndash;&gt;
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <div class="notify-icon bg-info">
              <i class="mdi mdi-heart"></i>
            </div>
            <p class="notify-details">Carlos Crouch liked
              <b>Admin</b>
              <small class="text-muted">13 days ago</small>
            </p>
          </a>
        </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 386px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 137px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>

        &lt;!&ndash; All&ndash;&gt;
        <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
          View All
        </a>

      </div>
    </li>-->

    <li class="dropdown notification-list">
      <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
        <span class="account-user-avatar">
          <img src="assets/images/users/avatar-1.png" alt="user-image" class="rounded-circle">
        </span>
        <span>
          <span class="account-user-name">{{current_user}}</span>
          <span class="account-position">Founder</span>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
        <!-- item-->
        <div class=" dropdown-header noti-title">
          <h6 class="text-overflow m-0">Bienvenue !</h6>
        </div>

        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item notify-item">
          <i class="mdi mdi-account-circle mr-1"></i>
          <span>Mon compte</span>
        </a>

        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item notify-item">
          <i class="mdi mdi-account-edit mr-1"></i>
          <span>Paramètres</span>
        </a>





        <!-- item-->
        <span  (click)="logout()" class="dropdown-item notify-item cusor-pointer">
          <i class="mdi mdi-logout mr-1"></i>
          <span>Déconnexion</span>
        </span>

      </div>
    </li>

  </ul>
  <button class="button-menu-mobile open-left disable-btn">
    <i class="mdi mdi-menu"></i>
  </button>

</div>
<!-- end Topbar -->
