<div class="row " *ngIf="!loadinggateways">
  <div class="col-12">

    <div class="page-title-box mt-3 mb-5">
      <p class="h2">Gateways</p>
    </div>

  </div>
</div>



<!-----Placehloder animation-------->
<div class="row" *ngIf="loadinggateways">
  <div class="col-12">

    <div class="placeload">
      <div class="header">
        <div class="header-content">
          <div class="content-shape loads"></div>
          <div class="content-shape loads"></div>
        </div>
      </div>
      <div class="image-placeholder loads"></div>
    </div>
  </div>

</div>
<!-------End Placeholder animation------>

<!--------List of gateways--------->

<div class="row mb-5" *ngIf="!loadinggateways">
  <div class="col-xl-12 col-md-12 col-lg-12 order-lg-2 order-xl-1">

    <div class="card">
      <div class="card-body pb-1">
        <div class="media">
          <div class="media-body">
            <div class="row">
              <div class="col-md-12">
                <h5 class="m-2">
                  LISTE DES GATEWAYS
                </h5>
              </div>
            </div>

          </div> <!-- end media body-->
        </div> <!-- end media -->

        <hr class="m-0">

        <div class="my-3">
          <div class="row">



            <div class="col-lg-6 col-xl-6" *ngFor="let gateway of gateways_data">
              <div class="card cusor-pointer" (click)="navigategatewayDetail(gateway.id)">
                <div class="card-body ">
                  <div class="row align-items-center">

                    <div class="col-12">
                      <div class="text-center mb-3" >
                        <img src="assets/images/img-component/getways.png" alt="devices" style="width: 100px;">
                      </div>
                    </div>

                    <div class="col-12">
                      <h4 class="font-weight-bold" title="New Leads">Gateways: {{gateway.name}}</h4>

                      <h5 class="my-2 py-1">Etat:
                        <span *ngIf="gateway.connected" class="badge badge-success">connecté</span>
                        <span *ngIf="!gateway.connected" class="badge badge-danger">deconnecté</span>
                      </h5>
                      <p>
                        <span class="text-nowrap">Date de creation: {{gateway.date_created | date: 'd/M/y'}}</span>
                      </p>
                      <p>
                        <span class="text-nowrap"><h5>Utilisateur: {{gateway.owner}} </h5></span>
                      </p>
                      <p>
                        <span class="text-nowrap"><h5>ID: {{gateway.id}}</h5></span>
                      </p>
                    </div>



                  </div> <!-- end row-->
                </div> <!-- end card-body -->
              </div> <!-- end card -->
            </div> <!-- end col -->




           <div class="col-md-12" *ngIf="gateways_data.length==0">
             <div class="box-not-found">
               <img src="assets/images/notfound-2.svg" alt="not found">
               <h5 class="not-found-describe">Aucune Gateway en vue</h5>
             </div>
           </div>

          </div>

        </div> <!-- end card-body -->
      </div> <!-- end card -->
      <!-- end news feeds -->


    </div>
  </div>
</div>


<!-----End list of gateways-------->
