<div class="wrapper mm-active">

  <!------Sidebar -------->
 <waziupfront-sidebar></waziupfront-sidebar>

  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  <div class="content-page">
    <div class="content">

     <!--------Navbar-------->
      <waziupfront-navbar></waziupfront-navbar>

      <!-- Start Content-->
      <div class="container-fluid">

        <ng-content></ng-content>

      </div> <!-- container -->

    </div> <!-- content -->


    <!-------Footer---------->
    <waziupfront-footer></waziupfront-footer>

  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->


</div>
